<%- include('partials/head-meta') %>
<%- include('partials/header') %>
<main>
    <%- include('partials/create-post') %>
    <% if(locals.posts) { %>
        <% posts.forEach(post => { %>
            <h2><%= post.id %> <%= post.title %></h2>
            <p><%= post.content %></p>
            <p><%= post.dateTime %></p>
            <form action="/edit" method="POST">
                <input type="hidden" name="editPostId" value="<%=post.id%>">
                <div>
                    <label for="editPostTitle">Edit Post Title</label>
                    <input type="text" id="editPostTitle" name="editPostTitle" value="<%=post.title%>" required>
                </div>
                <div>
                    <label for="editPostContent">Edit Content</label>
                    <textarea id="editPostContent" name="editPostContent" required><%=post.content%></textarea>
                </div>
                <button type="submit">Save Edit</button>
            </form>
            <form action="/delete" method="POST">
                <input type="hidden" name="deletePostId" value="<%=post.id%>">
                <button type="submit">Delete Post</button>
            </form>
        <% }); %>
    <% }%>
</main>
<%- include('partials/footer') %>
